.animals-overview {
  display: grid;
  grid-template-columns: repeat(auto-fill, 275px);
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 2.5rem;
  justify-content: center;
}

.search__no-results {
  font-size: 1.5rem;
  text-align: center;
}
