.details-card {
  width: 80%;
  align-self: center;
  justify-self: center;
}

.details-card__section {
  display: flex;
  color: #666666;
}

.details-card__section i {
  margin-right: 2rem;
  color: #5c164e;
}

.details-card__text {
  display: inline-block;
  font-size: 1.5rem;
}

.details-card__text::first-letter {
  text-transform: capitalize;
}
