.drawer {
  background-color: #5c164e;
  width: 100%;
  height: 30vh;
}

.small-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.smaller {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
